/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

/* Global Style  */
.body {
  font-family: "Poppins", sans-serif;
}

/* Reusable Style  */
.honda-btn {
  background-color: #e76f51;
  color: #fff;
  width: 168px;
  height: 44px;
}
/* custome css */
.hero-bg {
  background-color: #264653;
}

/*  Customize Bootstrap */
