/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

/* Global Style  */
body {
  font-family: "Poppins", sans-serif;
}

/* Reusable Style  */
.honda-btn {
  background-color: #e76f51;
  color: #fff;
  width: 168px;
  height: 44px;
}
.honda-text-color {
  color: #e76f51;
}
.heading-text {
  font-weight: 600;
  font-size: 38px;
  line-height: 72px;
}
/* custome css */
.featured-img {
  width: 288px;
  height: 243px;
}
.grayscale img {
  filter: grayscale(100%);
}
.hero-bg {
  background-color: #264653;
}
.profile {
  width: 149px;
  height: 149px;
}

.profile img {
  border-radius: 50%;
}
.faq-img {
  width: 80%;
  height: auto;
}
/*  Customize Bootstrap */
.accordion-button {
  font-size: 20px;
  font-weight: 400;
}
